{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
    </div>

    <div class="col-12 col-md-3">
      <a class="twitter-timeline" data-width="220" data-height="400" data-theme="light" href="https://twitter.com/seuh2022?ref_src=twsrc%5Etfw">Tweets by seuh2022</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>

  </div>
</div>

{{ end }}




{{ define "template" }}
  {{ partial "show-template" (dict "Which" .Kind "Template" "(theme) layouts/contact/contact.html") }}
{{ end }}
